.most-liked-users {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .MuiDataGrid-root {
      font-size: 0.8rem; /* Adjust the font size for smaller screens */
    }
  }
  